In [2]:
import numpy as np
import pandas as pd

In [7]:
df_result = pd.read_csv('../data/2019/survey_results_public.csv')
df_result.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [81]:
df_schema = pd.read_csv('../data/2019/survey_results_schema.csv')
df_schema

FileNotFoundError: [Errno 2] File b'../data/2019/survey_results_schema.csv' does not exist: b'../data/2019/survey_results_schema.csv'

In [6]:
df_result.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In [80]:
pd.set_option('display.max_colwidth', -1)
df_schema.loc[df_schema['Column'].isin(['ConvertedComp', 'CompTotal', 'CurrencySymbol', 'DeveloperType'])]

,Column,QuestionText
27,CurrencySymbol,"Which currency do you use day-to-day? If your answer is complicated, please pick the one you're most comfortable estimating in."
29,CompTotal,"What is your current total compensation (salary, bonuses, and perks, before taxes and deductions), in `CurrencySymbol`? Please enter a whole number in the box below, without any punctuation. If you are paid hourly, please estimate an equivalent weekly, monthly, or yearly salary. If you prefer not to answer, please leave the box empty."
31,ConvertedComp,"Salary converted to annual USD salaries using the exchange rate on 2019-02-01, assuming 12 working months and 50 working weeks."

In [79]:
comp_country_group = df_result[['Country', 'ConvertedComp']].dropna().groupby(by='Country')
df_comp_country = comp_country_group.count().rename(columns={'ConvertedComp': 'Count'})
df_comp_mean = comp_country_group.mean().rename(columns={'ConvertedComp': 'Comp Mean (USD)'})
df_comp_country = df_comp_country.merge(df_comp_mean, on='Country')
df_comp_max = comp_country_group.max().rename(columns={'ConvertedComp': 'Comp Max (USD)'})
df_comp_country = df_comp_country.merge(df_comp_max, on='Country')
df_comp_min = comp_country_group.min().rename(columns={'ConvertedComp': 'Comp Min (USD)'})
df_comp_country = df_comp_country.merge(df_comp_min, on='Country')
df_comp_country.sort_values(by='Comp Mean (USD)', ascending=False)

                      Count  Comp Mean (USD)  Comp Max (USD)  Comp Min (USD)
Country
Liechtenstein         1      811188.000000    811188.0        811188.0
San Marino            2      301788.000000    577452.0        26124.0
Ireland               343    250342.239067    1000000.0       0.0
United States         14981  249546.254589    2000000.0       0.0
Swaziland             4      242607.500000    843888.0        1800.0
...                     ...            ...          ...       ...
Togo                  1      4188.000000      4188.0          4188.0
Burundi               2      3606.000000      4272.0          2940.0
Syrian Arab Republic  8      3562.500000      12000.0         816.0
Guinea                1      1956.000000      1956.0          1956.0
Gabon                 1      0.000000         0.0             0.0

[161 rows x 4 columns]

In [62]:
comp_country_group.count().drop(columns=['CompTotal', 'ConvertedComp']).rename(columns={'CurrencySymbol': 'Count'})

                                      Count
Country
Afghanistan                           12
Albania                               50
Algeria                               42
Andorra                               2
Angola                                1
...                                  ..
Venezuela, Bolivarian Republic of...  43
Viet Nam                              87
Yemen                                 6
Zambia                                8
Zimbabwe                              15

[161 rows x 1 columns]

In [59]:
comp_country_group.mean()

                                      ConvertedComp     CompTotal
Country
Afghanistan                           101953.333333  5.418654e+07
Albania                               21833.700000   1.707424e+05
Algeria                               34924.047619   7.724026e+04
Andorra                               160931.000000  7.650000e+04
Angola                                7764.000000    2.020000e+05
...                                             ...           ...
Venezuela, Bolivarian Republic of...  14581.627907   1.174443e+05
Viet Nam                              17233.436782   2.643477e+07
Yemen                                 16909.166667   1.375000e+05
Zambia                                10075.375000   2.774375e+04
Zimbabwe                              34046.666667   7.841667e+03

[161 rows x 2 columns]